 DATABASE_URL: [ 'Required' ],
  JWT_SECRET: [ 'Required' ],
  GOOGLE_CLIENT_ID: [ 'Required' ],
  CLOUDINARY_CLOUD_NAME: [ 'Required' ],
  CLOUDINARY_API_KEY: [ 'Required' ],
  CLOUDINARY_API_SECRET: [ 'Required' ]